[Unit]
Description=Temporizador backup mensual de Guardias IES Alcalans

[Timer]
OnCalendar=*-*-01 00:15:00
Persistent=true
Unit=guardias-backup-monthly.service

[Install]
WantedBy=timers.target
